@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixin" as *;

.planspage {
  &__toolbar {
    @include tablet {
      display: flex;
      height: 4em;
      align-items: center;
      justify-content: center;
      & > * {
        min-width: 15em;
        font-size: 1.1em;
      }
    }
  }
}

.planlist {
  display: grid;
  grid-template-columns: auto;

  @include largemobile {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }

  @include largetablet {
    gap: 1em;
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }

  &__item {
    background-color: $card-bg-color;
    position: relative;
    min-height: 15em;

    &-day {
      position: absolute;
      top: 0;
      right: 1.5em;
      background-color: $secondary-bg-color;
      color: white;
      padding: 0.25em 0.75em;
      box-shadow: 0.125em 0.125em 0 #fff6;
      text-align: center;
    }
    &-weekday {
      font-size: 0.75em;
    }
    &-date {
      font-size: 1.25em;
      margin-top: -0.25em;
    }
    &-recipe {
      width: 100%;
    }
    &-img {
      width: 100%;
    }
    a {
      text-decoration: none;
      color: inherit;
      display: flex;
    }
    &-info {
      display: flex;
      padding: 0.5em 0.75em;
      align-items: center;
    }
    &-name {
      flex: 1;
      font-weight: bold;
      font-size: 1.25em;
    }
    &-button {
      background-color: transparent;
      padding: 0;
    }
    &-setplan {
      height: 100vw;
    }
    &-setbutton {
      width: 100%;
      height: 100%;
      img {
        width: 5em;
        opacity: 0.3;
      }
    }
  }
}
