@use "./variables" as *;
@use "./mixin" as *;

.section {
  padding: 0 $mobile-side-padding;
  @include tablet {
    padding: 0 $tablet-side-padding;
  }
  @include desktop {
    padding: 0 $desktop-side-padding;
  }
}
