@use "./variables" as *;
@use "./mixin" as *;

.section {
  margin: 0 $mobile-side-margin;
  @include tablet {
    margin: 0 $tablet-side-margin;
  }
  @include desktop {
    margin: 0 $desktop-side-margin;
  }
}
