$primary-text-color: #13182c; //for global text color
$primary-CTA-color: #2e66e5; //for interactive elements

$secondary-text-color: #5c667e; // for table column headers & placeholder text --- SLATE
$divider-color: #bdc5d5; // for outlines, dividers, borders, table sorting icon

$primary-background-color: #f7f8f9; // for page background, table column header background, CTA background
$secondary-background-color: #232940; //for top navigation header background, CTA button hover state background

$instock-lable-color: #158463;
$outstock-lable-color: #c94515; // for “Out of stock” label, error states & delete icon

$tablet-width: 768px;
$desktop-width: 1280px;

$mobile-side-margin: 1rem;
$tablet-side-margin: 2.25rem;
$desktop-side-margin: calc((100vw - 1020px) / 2);
$desktop-content-width: 80%;

$content-border-radius: 0.125rem;
$divider-size: 1px;
