$primary-text-color: #34606f; //for global text color
$primary-bg-color: #ede8d7;

$secondary-text-color: #ffffff; // for table column headers & placeholder text --- SLATE
$secondary-bg-color: #233d45;

$primary-action-color: #233d45; //for interactive elements
$divider-color: #75a9c1; // for outlines, dividers, borders, table sorting icon

$card-bg-color: #fcfcf1;

$largemobile-width: 560px;
$tablet-width: 768px;
$largetablet-width: 960px;
$desktop-width: 1280px;

$mobile-side-padding: 0;
$tablet-side-padding: 2.25rem;
$desktop-side-padding: calc((100vw - 1020px) / 2);
$desktop-content-width: 80%;

$content-border-radius: 0.125rem;
$divider-size: 1px;
