@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixin" as *;

.shoppinglist {
  padding: 0.5em;
  &__dates {
    margin-bottom: 1em;
  }

  &__items {
    &-empty {
      display: flex;
      align-items: center;
      justify-content: center;
      color: gray;
      font-style: italic;
      height: 10em;
    }
    &-item {
      display: flex;
      margin-bottom: 0.5em;
      padding-bottom: 0.5em;
      border-bottom: 1px solid #00000015;
      align-items: center;

      &:nth-last-child(1) {
        border-bottom: none;
      }

      &-active {
        background-color: $card-bg-color;

        @include print {
          background-color: transparent;
        }
      }
    }
    &-image {
      width: 4em;
      @include print {
        display: none;
      }

      &-placeholder {
        height: 4em;
        width: 4em;
        background-color: #11111111;
        display: flex;
        align-items: center;
        justify-content: center;

        img {
          width: 70%;
          height: 70%;
          opacity: 0.2;
        }
      }
    }
    &-info {
      flex: 1;
      padding: 0 0.5em;
    }
    &-name {
      font-weight: bold;
      font-size: 1.1em;
    }
    &-toggle,
    &-check {
      align-self: stretch;
      padding: 0 0.5em;
      display: flex;
      align-items: center;
      img {
        width: 1.5em;
        padding: 0 0.5em;
      }
      input {
        width: 1.5em;
        height: 1.5em;
        border: 3px solid gray;
      }
    }
  }

  @include print {
    margin: 3em 3em;
  }
}
