@use "../../styles/partials/typography" as *;
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixin" as *;

.recipedetails {
  padding: 0.5em;
  &__name {
    margin-top: 0;
  }
  &__info {
    @include tablet {
      display: flex;
      gap: 1em;
    }
  }
  &__image {
    width: 100%;
    @include tablet {
      width: 20em;
      max-width: 50%;
    }
  }
  &__ingredients {
    @include tablet {
      font-size: 1.1em;
    }
  }
  &__subtitle {
    font-size: 1.1em;
  }
  &__ingredients &__subtitle {
    @include tablet {
      margin-top: 0;
    }
  }
  &__labels {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5em;
    &-label {
      font-size: 0.9em;
      background-color: $card-bg-color;
      padding: 0.25em 0.5em;
      border-radius: 0.25em;
    }
  }
}
