@use "./styles/partials/typography" as *;
@use "./styles/partials/global" as *;
@use "./styles/partials/variables" as *;
@use "./styles/partials/mixin" as *;

body {
  font-family: "Titillium Web";
  margin: 0;
  padding: 0;
  background-color: $primary-bg-color;
}

h1 {
  font-family: "Titillium Web";
  font-size: 1.75rem;
  line-height: 2.25rem;
  font-weight: 600;

  @include tablet {
    font-size: 2rem;
    line-height: 2.5rem;
  }
}

h2 {
  font-family: "Titillium Web";
  font-size: 1.25rem;
  line-height: 1.75rem;
  font-weight: 600;

  @include tablet {
    font-size: 1.5rem;
    line-height: 2rem;
  }
}

h3 {
  font-family: "Titillium Web";
  font-size: 0.8125rem;
  line-height: 1.25rem;
  font-weight: 600;

  @include tablet {
    font-size: 0.875rem;
    line-height: 1.375rem;
  }
}

h4 {
  font-family: "Titillium Web";
  font-size: 0.6875rem;
  line-height: 1rem;
  font-weight: 400;

  @include tablet {
    font-size: 0.75rem;
    line-height: 1.125rem;
  }
}

button {
  height: 3rem;
  border-radius: 0.25rem;
  border: none;
  background-color: $primary-action-color;
  color: $secondary-text-color;
  font-weight: 700;
  font-size: 1.05em;
  padding: 0 1em;
  font-family: "Titillium Web";
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.25em;

  &.secondary {
    color: $primary-action-color;
    background-color: $secondary-text-color;
  }

  @include tablet {
    font-size: 1.1em;
    padding: 1.5em 2em;
    gap: 0.5em;
    img {
      width: 1.1em;
    }
  }
}

input {
  font-family: "Titillium Web";
  outline: none;
  padding: 0.25em 0.5em;
}

.action {
  border-radius: 1.25rem;
  border: 0;
  height: 2.25rem;
  font-size: 0.8125rem;
  font-weight: 600;
  cursor: pointer;
  @include tablet {
    height: 2.375rem;
    padding: 0 1rem;
    font-size: 0.875rem;
  }
}

.toolbar {
  button {
    background-color: transparent;
    color: inherit;
  }
}

.actions {
  padding: 1em;
  display: flex;
  justify-content: center;
  gap: 1em;
  @include tablet {
    padding: 2em 1em;
  }
}

.form {
  &__field {
    padding: 0.5em 0;
    &-label {
      display: block;
      font-size: 1.1em;
    }
    &-input {
      padding: 0.5em;
      width: 80%;
      border: none;
      font-size: 1.1em;
    }
  }
  &__actions {
    padding: 1em 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1em;

    a {
      color: inherit;
    }
  }
}

.app {
  &__body {
    @extend .section;
  }
}
